
h1 {
    background-color:aquamarine;
    /* border-width: 4px;
    border-style: dashed;
    border-color: blueviolet; */
    /* border: solid greenyellow 3px; */
    /* border-radius:10px; */
    /* border-top-right-radius: 20px; */
    /* border-bottom:solid yellow 5px;
    border-left: dashed pink 8px; */

    border: black solid 4px;
    border-radius:5px;
    width: 790px;
    /* height:100px; */

}

/* span {
    display:block;
    border: black solid 4px;
    border-radius:5px;
    background-color: aqua;
     width: 790px;
    height:100px;

} */

.firstpara {
    /* display: inline; */
    background-color: yellow;
    border: black solid 4px;
    border-radius:5px;
    width: 790px;
    padding: 20px;
    margin:30px;

    margin-top:80px;
    /* text-align:center; */
    /* margin-left:50px; */
    /* margin: 120px; */
    /* height:100px; */

}

.secondpara {
    background-color: aqua;
    border: black solid 4px;
    border-radius:5px;
    width: 790px;
    /* height:100px; */



}

.thirdpara {
    background-color: bisque;
    border: black solid 4px;
    width: 790px;
    /* height:100px; */




}