* {
    margin: 0;
    padding: 0;

}

/* .box {
    width:300px;
    height:200px;
    border: 3px solid green;
    margin-left:20rem;
    margin-top:50px;
} */



/* div {
    display: inline;
    border: 1px solid black;
    width: 300px;
    height:300px;
    margin:25px;
    padding:25px;
} */

span {
    /* display: block; */
    display:inline-block;
    border: 2px solid yellow;
    margin: 2rem;
    padding: 2rem;
    width: 100px;
    height: 400px;
}